//import
@import "variab";
@import "mixins";
@import "typeimg";
@import "vde-botones";
@import "vde-estilos";
@import "vde-grid";
@import "vde-hacks";
@import "vde-menu";
@import "vde-texto";
@import "vde-variables";
@import "vde-mixins";

//Variables
@ColorBase:#0796d9;
@base:980px;

a{
	&:active, &:hover, &:-webkit-any-link, &:-webkit-any-link:active {color:@ColorBase;}
	&:hover {text-decoration: none;}
	img{border:0 none;}
}
.azul-aqua{color: @ColorBase;}

/* !Header */ 
header{
	@media only screen and (min-width: @mobile){
		.background-size(568px auto);
		background-position: center -70px;
	}
	@media only screen and (min-width: @tablet){
		.background-size(768px auto);
		background-position: center -140px;
	}
	@media only screen and (min-width: @desktop){
		.background-size(100% auto);
		background-position: center -175px;
	}
	@media only screen and (min-width: @base){
		background-position: center -255px;
	}
	@media only screen and (min-width: @BigScreen){
		background-position: center -300px;
	}
	img{
		height: 70px;
		margin:0 auto;
		display: block;
	}
}

/* !Contenido */
#container {
	@media only screen and (min-width: @desktop){
		max-width:752px;
		margin: 0 auto;
	}
	@media only screen and (min-width: @base){
		max-width:948px;
	}
	@media only screen and (min-width: @BigScreen){
		max-width:1108px;
	}
}

#ranimg {
	@media only screen and (min-width: @base){
		min-height:525px;
	}
	@media only screen and (min-width: @BigScreen){
		min-height:600px;
	}
}

/* !Error 404 */
.box {
	@media only screen and (min-width: @base){
		height: 315px;
	}
	@media only screen and (min-width: @BigScreen){
		height: 372px;
		
	}
}
.cover_pan{
	@media only screen and (min-width: @base){
		height: 327px;
	}
	@media only screen and (min-width: @BigScreen){
		height: 384px;
	}
}