DirectoryIndex index.php
ErrorDocument 404 /error-404.php

RewriteEngine On
RewriteCond  %{REQUEST_FILENAME} !-f
RewriteRule  ^inicio$ /index.php [QSA,L]
RewriteRule  ^novedades$ /productos-nuevos.php [QSA,L]
RewriteRule  ^nosotros$ /acerca-de.php [QSA,L]
RewriteRule  ^contacto$ /formulario.php [QSA,L]
RewriteRule  ^sigma$ /serie-sigma.php [QSA,L]
RewriteRule  ^supra$ /serie-supra.php [QSA,L]
RewriteRule  ^silver$ /serie-silver.php [QSA,L]
RewriteRule  ^task$ /serie-task.php [QSA,L]
RewriteRule  ^max$ /serie-max.php [QSA,L]
RewriteRule  ^MAX-M07X$ /SERIE-MAX-M0.7X.php [QSA,L]
RewriteRule  ^MAX-M1X$ /SERIE-MAX-M1X.php [QSA,L]
RewriteRule  ^MAX-M15X$ /SERIE-MAX-M1.5X.php [QSA,L]
RewriteRule  ^MAX-M2X$ /SERIE-MAX-M2X.php [QSA,L]
RewriteRule  ^MAX-M25X$ /SERIE-MAX-M2.5X.php [QSA,L]
RewriteRule  ^MAX-M3X$ /SERIE-MAX-M3X.php [QSA,L]
RewriteRule  ^MAX-M4X$ /SERIE-MAX-M4X.php [QSA,L]
RewriteRule  ^MAX-M5X$ /SERIE-MAX-M5X.php [QSA,L]
RewriteRule  ^motores$ /motores-aquapak.php [QSA,L]
RewriteRule  ^ap$ /serie-ap.php [QSA,L]
RewriteRule  ^fix$ /serie-fix.php [QSA,L]
RewriteRule  ^step$ /serie-step.php [QSA,L]
RewriteRule  ^aly$ /serie-aly.php [QSA,L]
RewriteRule  ^loop$ /serie-loop.php [QSA,L]
RewriteRule  ^venus$ /serie-venus.php [QSA,L]
RewriteRule  ^minismart$ /serie-minismart.php [QSA,L]
RewriteRule  ^preskit$ /serie-pres10.php [QSA,L]
RewriteRule  ^presurizadores$ /presurizadores-individules.php [QSA,L]
RewriteRule  ^tanqueshorizontales$ /tanques-horizontales.php [QSA,L]
RewriteRule  ^tanquesverticales$ /tanques-verticales.php [QSA,L]